.bg-ctus{
    position:relative;
    padding:30px 10px 5rem 10px!important;
    margin-top:4rem!important;
    margin-bottom:4rem!important;
    border-radius:15px;
    background: linear-gradient(89.99999980056502deg,#17044d 0%,rgba(87,142,251,.20000000298023224) 40.17218053340912%,rgba(162,118,189,.30000001192092896) 67.3222005367279%,rgba(23,4,77,1) 100%);
}
.container{
    background-color: #160E33!important;
}
.bg-ipt{
    background: none!important;
    border:0.2px solid #FFFFFF;
    border-right:none!important;
    padding:1px 1rem 1px 1rem!important;
    /* height:34px!important; */
    /* border-radius: 5px; */
}
.bg-btn{
    height:35px!important;
    background: linear-gradient(90.1146deg, rgb(239, 68, 59) 0%, rgb(158, 15, 247) 100%);
    padding:3px 20px!important;
    /* border:0.2px solid  rgb(91, 5, 65); */
    /* border-radius: 5px; */
}
.mr-first{
    margin-bottom:20px!important;
    font-size:30px;
    font-weight: 600;
}
.mr-sec{
    margin-bottom:4.5rem!important;
    font-size:16px;
    font-weight: 400;
}
.plc-hold{
color:rgba(255, 255, 255, 0.6000000238418579);
}

@media (max-width: 576px) {
    .bg-ctus{
        padding:30px 10px 5rem 10px!important;
        margin:1rem 1rem!important;
        border-radius:15px;
        background: linear-gradient(89.99999980056502deg,#17044d 0%,rgba(87,142,251,.20000000298023224) 40.17218053340912%,rgba(162,118,189,.30000001192092896) 67.3222005367279%,rgba(23,4,77,1) 100%);
    }
    .container{
        width: auto !important;
    }
}